@-webkit-keyframes hvr-back-pulse {
  50% {
    background-color: #8FBCE6;
  }
}
@keyframes hvr-back-pulse {
  50% {
    background-color: #8FBCE6;
  }
}
.hvr-back-pulse:hover {
  -webkit-animation-name: hvr-back-pulse;
  animation-name: hvr-back-pulse;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #092C5C;
  background-color: #092C5C;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: whitesmoke;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Layout for smaller mobile phones. */
@media screen and (max-width: 320px) {
  
}

/* Layout for larger mobile phones. */
@media screen and (max-width: 425px) and (min-width: 321px) {
  
}

/* Layout for tablets. */
@media screen and (max-width: 768px) and (min-width: 426px) {
  
}

/* Layout for laptops. */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  
}

/* Layout for large laptop sizes and does not exceed this point. */
@media screen and (min-width: 1025px) {
  header {
    height: 52px;
  }

  nav {
    width: 100%;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
  }

  nav ul li {
    float: left; 
  }

  nav ul li.shift-right {
    float: right; 
  }

  nav ul li a {
    color: #333;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 1px 2px;
  }

  nav ul li a:hover:not(.active) {
    background-color: #092C5C;
    border-radius: 2px;
    color: whitesmoke;
  }

  a.active {
    background-color: #8FBCE6;
    border-radius: 2px;
  }

  div.landing {
    max-width: 100vw;
    height: 600px;
    background-color: #333;
  }

  div.left-side {
    float: left;
    width: 50%;
    height: 600px;
    position: relative;
    font-weight: 800;
    color: whitesmoke;
  }
  div.left-side h1 {
    margin: 10px 0;
  }
  div.left-side div.headline {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.right-side {
    float: right;
    width: 50%;
    height: 600px;
    position: relative;
    color: whitesmoke;
  }
  div.right-side div.slideshow {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.slideshow div {
    display: none;
  }
  div.slideshow div.active {
    display: inline;
  }
  div.slideshow div img {
    width: 500px;
    border-radius: 3px;
    box-shadow: #272727 2px 2px 5px -1px; 
  }
  div.slideshow h2 {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 300;
  }

  div.banner {
    text-align: center;
    background-color: #092C5C;
    color: whitesmoke;
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 15px;
    padding: 60px 0;
  }
  div.about {
    font-size: 170%;
  }
  div.about img {
    float: left;
    width: 25%;
    margin: 0 10px 10px 0;
    border-radius: 3px;
    box-shadow: #333 1px 1px 3px -1px; 
  }
  div.product {
    display: inline-block;
    width: 30%;
    margin: 5px 5px 45px 5px;
  }
  div.product img {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    box-shadow: #333 1px 1px 3px -1px; 
  }
  div.product p.small {
    text-align: center;
    font-size: smaller;
    margin: 0;
  }
}