body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: whitesmoke;
}
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  padding-right: 10px;
  padding-left: 10px;
}

/* Layout for smaller mobile phones. */
@media screen and (max-width: 320px) {
  
}

/* Layout for larger mobile phones. */
@media screen and (max-width: 425px) and (min-width: 321px) {
  
}

/* Layout for tablets. */
@media screen and (max-width: 768px) and (min-width: 426px) {
  
}

/* Layout for laptops. */
@media screen and (max-width: 1024px) and (min-width: 769px) {
  
}

/* Layout for large laptop sizes and does not exceed this point. */
@media screen and (min-width: 1025px) {
  header {
    height: 52px;
  }

  nav {
    width: 100%;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: sticky;
  }

  nav ul li {
    float: left; 
  }

  nav ul li.shift-right {
    float: right; 
  }

  nav ul li a {
    color: #333;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 1px 2px;
  }

  nav ul li a:hover:not(.active) {
    background-color: #092C5C;
    border-radius: 2px;
    color: whitesmoke;
  }

  a.active {
    background-color: #8FBCE6;
    border-radius: 2px;
  }

  div.landing {
    max-width: 100vw;
    height: 600px;
    background-color: #333;
  }

  div.left-side {
    float: left;
    width: 50%;
    height: 600px;
    position: relative;
    font-weight: 800;
    color: whitesmoke;
  }
  div.left-side h1 {
    margin: 10px 0;
  }
  div.left-side div.headline {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.right-side {
    float: right;
    width: 50%;
    height: 600px;
    position: relative;
    color: whitesmoke;
  }
  div.right-side div.slideshow {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  div.slideshow div {
    display: none;
  }
  div.slideshow div.active {
    display: inline;
  }
  div.slideshow div img {
    width: 500px;
    border-radius: 3px;
    box-shadow: #272727 1px 1px 1px 1px; 
  }
  div.slideshow h2 {
    text-align: center;
    letter-spacing: 5px;
    font-weight: 300;
  }
}