header {
    background-color: #21264C;
}

.logo {
    padding-left: 20px;
    float: left;
}

#social {
    float: right;
    width: 50%;
    padding: 10px 10px 0;
    max-width: 700px;
    text-align: right;
}

.fa {
	padding: 15px;
	font-size: 50px;
	text-align: center;
	text-decoration: none;
	margin: 10px 20px;
	color: #FEFFEF;
}

.fa:hover {
	color: #7AB2DD;
	text-decoration: none;
}

body#box1 {
	padding: 0;
	margin: 0;
    font-size: 140%;
    background: #FEFFEF;
    font-family: 'Oswald', sans-serif;
}

img.landing {
    max-width: 100%;
    height: auto;
    filter: blur(1px) grayscale(5%);
}

h1 {
    background: #21264C; 
    text-align: center;
    padding: 10px;
    color: #FEFFEF;
    font-family: 'Anton', sans-serif;
}

.large {
    color: #21264C;
    font-family: 'Anton', sans-serif;
}

.cursive {
    color: #21264C;
    font-family: 'Oswald', sans-serif;
}

.row1 {
    width: 20%;
    height: 300px;
    padding: 30px;
    text-align: center;
    display: inline-block;
}

.gallery {
    padding: 10px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.gallery:hover {
    width: 400px;
    transform: scale(1.3);
    transition: 1.5s;
}

#ourStaff {
    height: 650px;
    width: 1440px;
}
span.staff {
    margin: 5px;
    border: 1px solid #21264C;
    float: left;
    width: 228px;
}

span.staff:hover {
    border: 1px solid #7AB2DD;
}

span.staff img {
    width: 100%;
    height: 200px;
}

section.desc {
    padding: 20px 15px;
    text-align: center;
}

footer {
	background: #21264C;
	height: auto;
	width: 100%;
	color: #FEFFEF;
    padding: 20px 20px;
    font-size: 15px;
    text-align: center;
}
